body,
html {
  margin: 0px;
  padding: 0px;
  @include fontBasic;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  @include fontBasic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include fontBasic;
  li {
    cursor: pointer;
    .fas {
      display: none;
    }
  }
}
