.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(33, 35, 34, 0.9);
  .modal-content {
    margin: 30px 400px;
    background: white;
    display: flex;
    flex-direction: column;
    .modal-header::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-overlay;
      mix-blend-mode: hard-light;
      z-index: 0;
    }
    .modal-header > * {
      z-index: 10;
      position: relative;
    }
    .modal-header {
      margin: 0;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: relative;

      .modal-poster {
        width: 350px;
        text-align: center;
        padding-top: 20px;
        img {
          width: 90%;
          height: auto;
          object-fit: contain;
        }
      }
      .modal-details {
        width: 350px;
        color: white;
        display: flex;
        flex-direction: column;
        .closeBtn {
          text-align: right;
          font-size: 20px;
          font-weight: bolder;
          margin: 5px 5px;
        }
        .modal-movie-title {
          font-size: 30px;
          font-weight: lighter;
        }
        .modal-movie-tagline {
          margin: 0;
          font-weight: lighter;
          font-size: 15px;
        }
      }
    }
    .modal-movie-description {
      display: flex;
      flex-direction: column;
      margin: 30px 30px 30px 400px;
      @include fontResults;
    }
    .modal-heading {
      color: $color-secondary;
    }
  }
}

@media screen and (max-width: $break-small) {
  .modal-container {
    .modal-content {
      margin: 0;
      .modal-header {
        height: 200px;
        .modal-poster {
          display: none;
        }
        .modal-details {
          width: 100%;
          align-content: center;
          .modal-movie-title,
          .modal-movie-tagline {
            text-align: center;
            margin: 20px 0;
          }
        }
      }
      .modal-movie-description {
        margin: 30px 20px 50px 20px;

      }
    }
  }
}
