.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(2, 0, 32, 0.9);
    .modal-content {
        background-color: white;
        margin: 15vh 15vw;
        display: flex;
        flex-direction: column;
    }
}