.logo {
    padding: 0;
    height: 10vh;
    figure {
      margin: 0;
      img {
        width: 70%;
        max-height: auto;
        margin: 7px;
      }
    }
  }
  nav {
    width: 6vw;
    height: 100vh;
    position: fixed;
    overflow: auto;
    ul {
      li {
        padding: 20px 0;
        text-align: center;
        width: 5vw;
        height: 6vh;
        border: 1px solid black;
  
        a {
          margin: 5px;
          display: block;
          font-size: 11px;
        }
      }
    }
  }
  .header {
    margin-left: 5vw;
    width: 95vw;
    position: fixed;
    z-index: 1;
    input {
      width: 100%;
      height: 10vh;
      border: none;
      padding-left: 5vw;
      background: blue;
    }
    input[type="text"]::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
    }
  }
  
  