$font: "Josefin Sans", sans-serif;
$color-background: rgb(167, 230, 215);
$color-secondary: rgb(0, 137, 123);
$color-terciary: rgb(82, 210, 188);
$color-overlay: rgb(41, 80, 77);
@mixin fontBasic {
  font-family: $font;
  font-weight: lighter;
  font-size: 11px;
  color: $color-secondary;
}

@mixin fontResults {
  font-family: $font;
  font-size: 15px;
  color: $color-secondary;
}

$break-small: 400px;

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import "_general";
@import "_navbar-search";
@import "_background";
@import "_resultspage";
@import "_modal";

.hide {
  display: none !important;
}

.margin-top {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.category-selected {
  background-color: $color-background;
}

