@import "_general";
@import "_navbar-search";
@import "_background";
@import "_resultspage";
@import "_modal";

.hide {
  display: none !important;
}

.margin-top {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

